h2
{
    color: blue;
}
div
{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
section
{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    height: 200px;
    background-color: pink;
}
